# macOS
.DS_Store

# .NET build output
bin/
obj/

# Publish output
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# NuGet local packages
*.nupkg
*.snupkg

# Logs
*.log